.loginContainer {
  display: flex;
  align-items: center;
  height: 100vh;
  background-color: rgb(0, 152, 213);
  color: white;
}

.loginForm {
  width: 40%;
  margin: 0 auto;
  padding: 20px;
  padding-top: 10px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
  text-align: center;
}

.loginForm label,
.loginForm input {
  display: block;
  margin: 0 auto;
}

.loginForm label {
  margin-top: 20px;
  margin-bottom: 5px;
}

.loginForm input {
  border-radius: 5px;
  padding: 5px;
}

.loginForm input[type="submit"] {
  margin-top: 15px;
  width: 20%;
  padding: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendar {
  height: 100vh;
  width: 58%;
  background-color: rgb(0, 140, 140);
  border-radius: 10px 0 0 10px;
}

.tooltip {
  background-color: rgb(87, 120, 241);
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}

.tooltip ul,
.tooltip h3,
.tooltip h4,
.tooltip p {
  list-style: none;
  padding: 0;
  margin: 0;
  color: white;
}

.tooltip h3,
.tooltip h4 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.info {
  padding: 10px;
  width: 40%;
  background-color: rgb(236, 198, 127);
  border-radius: 0 10px 10px 0;
}

.info select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
}

@media (max-width:1200px) {

  .calendar,
  .info {
    width: 100%;
  }

}